# Gradle project-specific cache directory
.gradle
# Gradle build output directory
build
# IntelliJ project files
**/.idea
.iml
# Ignore secrets
secrets.properties
# Ignore user generated data
**/app/data/report*.csv